@media (max-width: 320px) {
    h1 {
        font-family: 'Inter';
        font-weight: 700;
        font-size: 47px;
        line-height: 120%;
    } //

    // h2 {
    //     font-family: 'Inter';
    //     font-weight: 600;
    //     font-size: 64px;
    //     line-height: 76.8px;
    // }

    .h2-bold {
        font-family: 'Inter';
        font-weight: 700;
        font-size: 64px;
        line-height: 76.8px;
    }

    h3 {
        font-size: 47px;
        line-height: 120%;
        letter-spacing: 0%;
    } //

    h4 {
        font-weight: 700;
        font-size: 36px;
        line-height: 120%;
        letter-spacing: 0%;
        vertical-align: middle;
    }

    h5 {
        font-size: 20px;
        line-height: 120%;
    } //

    h6 {
        font-size: 16px;
        line-height: 120%;
    } //

    p {
        font-size: 16px;
        line-height: 120%;
    } //

    .p-bold {
        line-height: 120%;
    } //

    a {
        line-height: 120%;
    } //

    span {
        line-height: 120%;
    } //

    .a-bold {
        line-height: 120%;
    } //

    .errormsg {
        font-size: 12px;
        line-height: 120%;
        margin-top: 4px;
    } //

    .inside-app {
        padding-top: unset;
        padding-right: 16px;
        padding-bottom: 96px;
        padding-left: 16px;
        gap: 26px;
    } //

    .loader {
        width: 50px;
        padding: 8px;
    }

    input,
    textarea {
        width: 288px; // 364px
        line-height: 120%;
        letter-spacing: 0%;
    } //

    button {
        border-radius: 8px;
        padding: 4px;
    } //
}

@media (min-width: 375px) {}

@media (min-width: 425px) {}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}

@media (min-width: 1440px) {}

@media (min-width: 1920px) {}