<div class="dashboard-container">
    <div class="sidebar">
        <a routerLink="/login" (click)="navigateToLoginPage()">
            <img class="logo" src="assets/img/logo/white.svg" alt="Join">
        </a>
        <div class="legal-item">
            <a routerLinkActive="legal-item-active" (click)="showLegalNotice(true)">Privacy Policy</a>
            <a routerLinkActive="legal-item-active" (click)="showLegalNotice(false)">Legal notice</a>
        </div>
    </div>
    <div class="menu">
    </div>
</div>
<div class="router-container">
    <app-privacy-policy *ngIf="privacy"></app-privacy-policy>
    <app-legal-notice *ngIf="!privacy"></app-legal-notice>
</div>