<div class="dashboard-container">
    <div class="sidebar">
        <a routerLink="/login" (click)="navigateToLoginPage()">
            <img class="logo" src="assets/img/logo/white.svg" alt="Join">
        </a>
        <!-- <nav class="sidebar-container">
            <ul class="sidebar-list">
                <li class="sidebar-item">
                    <div routerLink="/summary" routerLinkActive="sidebar-item-active">
                        <img src="assets/img/menu/summary/default.svg" alt="Summary">
                        <a>Summary</a>
                    </div>
                </li>
                <li class="sidebar-item">
                    <div routerLink="/add-task" routerLinkActive="sidebar-item-active">
                        <img src="assets/img/menu/add-task/default.svg" alt="Summary">
                        <a>Add Task</a>
                    </div>
                </li>
                <li class="sidebar-item">
                    <div routerLink="/board" routerLinkActive="sidebar-item-active">
                        <img src="assets/img/menu/board/default.svg" alt="Summary">
                        <a>Board</a>
                    </div>
                </li>
                <li class="sidebar-item">
                    <div routerLink="/contacts" routerLinkActive="sidebar-item-active">
                        <img src="assets/img/menu/contacts/default.svg" alt="Summary">
                        <a>Contacts</a>
                    </div>
                </li>
            </ul>
        </nav> -->
        <div class="legal-item">
            <a routerLinkActive="legal-item-active" (click)="showLegalNotice(true)">Privacy Policy</a>
            <a routerLinkActive="legal-item-active" (click)="showLegalNotice(false)">Legal notice</a>
        </div>
    </div>
    <div class="menu">
        <!-- <div class="menu-container">
            <p>Kanban Project Management Tool</p>
            <div class="menu-right-section">
                <a routerLink="/help" routerLinkActive="help-icon-active">
                    <img class="help-icon" src="assets/img/help/default.svg" alt="Help">
                </a>
                <div class="profile-icon" (click)="toggleSubmenu()">
                    <a>GM</a>
                </div>
            </div>
        </div>
        <div *ngIf="isSubmenu">
            <app-submenu appClickOutside (clickOutside)="toggleSubmenu()" [(isSubmenu)]="isSubmenu"></app-submenu>
        </div> -->
    </div>
</div>

<!-- <ng-container *ngIf="sharedService.siteIsLoading$ | async">
    <app-logo></app-logo>
</ng-container> -->

<div class="router-container">
    <app-privacy-policy *ngIf="privacy"></app-privacy-policy>
    <app-legal-notice *ngIf="!privacy"></app-legal-notice>
</div>


