@import "../../styles.scss";

.dashboard-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    @include transition-100;
}

.sidebar {
    width: unset;
    height: unset;
    background-color: var(--primary);
    flex-shrink: 0;
    padding: unset;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);

    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    position: relative;
    z-index: 1;

    a {
        color: var(--gray);
        user-select: none;
    }
}

.sidebar-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding-top: unset;
}

.sidebar-list {
    width: 100%;
    height: 80px;
    list-style-type: none;
    margin: 0;
    padding: 4px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.sidebar-item {
    // width: 80px;
    border-radius: 16px;
    @include transition-75;

    a {
        line-height: unset;
        color: var(--gray) !important;
    }

    .sidebar-item-active,
    &:hover {
        background-color: var(--third);
        cursor: pointer;

        a {
            color: var(--white) !important;
        }

        img {
            filter: brightness(0) invert(1);
        }
    }

    .sidebar-item-active {
        width: 80px;
        display: flex;
        flex-direction: column;
        border-radius: 16px;
    }

    img {
        width: 24px;
        height: 24px;
    }

    div {
        width: unset;
        height: 76px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
        padding: 8px 12px;
        border-radius: 16px;
    }
}

.menu {
    flex-grow: 0;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    background-color: var(--white);
    padding: 20px 16px;

    img {
        display: block;
        width: 32px;
        height: 39px;
    }
}

.logo {
    width: unset;
    display: none;
}

.legal-item {
    width: 112px;
    display: none;
    flex-direction: column;
    gap: 15px;

    .legal-item-active,
    a:hover {
        color: var(--secondary);
        font-weight: 700;
    }
}

.router-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 0;
}

@import './public-notices-responsive.component.scss';