@import "../../../styles.scss";

.card-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow-y: scroll;

    input {
        width: 100%;
    }

    textarea {
        width: 100%;
    }

    .prio-container {
        width: 100%;
        padding: 0 4px;
    }

    .assigned-container {
        width: 100%;
    }

    .assigned-to-field {
        position: relative;
        z-index: 2;
    }

    .backlog-box {
        width: 100%;
        z-index: 1;
    }

    .assigned-container {
        z-index: 0;
        position: unset;
    }

    .main-assigned-container {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    
    .subtask-list {
        height: 84px;
        position: unset;
        margin-top: -8px;
    }
}

.field-layout {
    width: 100%;
}

.z-index {
    position: relative;
    z-index: 0;
}

.category {
    width: max-content;
    color: var(--white);
    border-radius: 8px;
    padding: 4px 24px;
    background-color: var(--blue);

    &.blue {
        background-color: var(--blue);
    }

    &.mint {
        background-color: var(--mint);
    }
}

.card-content {
    display: flex;
    gap: 25px;
}

.prio-content-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    img {
        width: 17px;
    }
}

.a-s-container {
    flex-direction: column;
    gap: 8px;
}

.a-s-content {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 7px 16px;
}

.contact-icon {
    width: 42px;
    height: 42px;
    border-radius: 100%;
    background-color: var(--orange);
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    text-align: center;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
}

.gray {
    color: rgba(66, 82, 110, 1);
}

.checkbox {
    width: 24px;
    height: 24px;
    cursor: pointer;
    @include transition-100;
}

.edit-delete-container {
    justify-content: flex-end;
}

.edit-delete-section {
    display: flex;
    gap: 32px;
    @include transition-100;

    svg {
       width: 24px;
       height: 24px; 
    }

    a {
        color: var(--primary);
    }
}

.edit-delete-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    @include transition-100;
    cursor: pointer;

    &:hover {
        a {
            color: var(--secondary);
            font-weight: 700;
        }

        svg path {
            fill: var(--secondary);
        }
    }
}