@import "../../../styles.scss";
@import "../add-contact/add-contact.component.scss";

.contact-icon {
    h4 {
        font-size: 47px;
        font-weight: 500;
        color: var(--white);
    }
}

.delete-btn {
    background-color: var(--white);
    padding: 15px 24px;
    @include transition-100;

    &:hover {
        border-color: var(--secondary);

        p {
            color: var(--secondary);
        }
    }

    &:active {
        border-color: var(--third);

        p {
            color: var(--third);
        }
    }
}

@import './edit-contact-responsive.component.scss'