<div class="popup-contact" onload="currentUser()" *ngIf="userService.selectedUser != undefined">
    <div class="left-section">
        <div class="left-content">
            <img src="assets/img/logo/white.svg" alt="Join Logo">
            <div class="title">
                <h3>Edit contact</h3>
                <div class="divider"></div>
            </div>
        </div>
    </div>
    <div class="right-section">
        <div class="right-content">
            <form (submit)="save()">
                <div class="input-contact-field">
                    <div class="contact-icon" [ngStyle]="{'background-color': 'var(' + users[userService.selectedUser].color + ')'}">
                        <h4>{{ users[userService.selectedUser].initial}}</h4>
                    </div>
                    <div class="inputfield-container">
                        <div class="inputfield">
                            <input type="text" placeholder="Name" value="{{ users[userService.selectedUser].name}}">
                            <img class="input-icon" src="assets/img/contact-form/person.svg" alt="Name">
                        </div>
                        <div class="inputfield">
                            <input type="text" placeholder="Mail" value="{{ users[userService.selectedUser].email}}">
                            <img class="input-icon" src="assets/img/contact-form/mail.svg" alt="Mail">
                        </div>
                        <div class="inputfield">
                            <input type="text" placeholder="Phone" value="{{ users[userService.selectedUser].phone}}">
                            <img class="input-icon" src="assets/img/contact-form/call.svg" alt="Phone">
                        </div>
                    </div>
                </div>
                <div class="btn-content">
                    <div class="empty-div"></div>
                    <div class="btn-div">
                        <button class="delete-btn" type="button" (click)="delete()">
                            <p>Delete</p>
                        </button>
                        <button class="save-btn" type="submit">
                            <p class="p-bold">Save</p>
                            <img src="assets/img/check/default-create-task.svg" alt="Save">
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>