<div class="card-container">
    <div class="card-content">
        <div class="label">
            <a>User Story</a>
        </div>
        <div class="title-description-container">
            <a class="a-bold title">Kochwelt Page & Recipe Recommender</a>
            <a class="description">Build start page with recipe recommendation...</a>
        </div>
        <div class="progress-bar-container">
            <div class="progress-bar">
                <div class="bar" [style.width]="subtaskStatus"></div>
            </div>
            <div class="subtasks-status">1/2 Subtasks</div>
        </div>
        <div class="assigned-prio-container">
            <div class="assigned-content">
                <div class="contact-icon">
                    SM
                </div>
                <div class="contact-icon translateX">
                    SM
                </div>
            </div>
            <div class="prio-content">
                <img src="../../../assets/img/prio/low-default.svg" alt="Prio">
            </div>
        </div>
    </div>
</div>