<div class="layout-container">
    <div class="column">
        <div class="header">
            <p class="p-bold">To do</p>
            <img src="assets/img/plus/default.svg" alt="Add Task">
        </div>
        <div class="task-container">
            <div class="no-task-content">
                <a>No tasks To do</a>
            </div>
            <div class="task-content">Card</div>
        </div>
    </div>
    <div class="column">
        <div class="header">
            <p class="p-bold">In progress</p>
            <img src="assets/img/plus/default.svg" alt="Add Task">
        </div>
        <div class="task-container">
            <div class="no-task-content">No</div>
            <div class="task-content">Card</div>
        </div>
    </div>
    <div class="column">
        <div class="header">
            <p class="p-bold">Await feedback</p>
            <img src="assets/img/plus/default.svg" alt="Add Task">
        </div>
        <div class="task-container">
            <div class="no-task-content">No</div>
            <div class="task-content">Card</div>
        </div>
    </div>
    <div class="column">
        <div class="header">
            <p class="p-bold">Done</p>
        </div>
        <div class="task-container">
            <div class="no-task-content">No</div>
            <div class="task-content">Card</div>
        </div>
    </div>
</div>