@import "../../../styles.scss";

.inside-app {
    padding-left: 32px;
    padding-top: 206px;
    height: unset;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-wrap-mode: nowrap;

    h5 {
        color: var(--primary);
    }
}

.divider {
    width: 3px;
    height: 59px;
    background-color: var(--secondary);
}

.contact-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    @include transition-100;
    animation-name: slideIn;
    animation-duration: 400ms;
}

.contact-title {
    display: flex;
    gap: 54px;
}

.contact-title-content {
    display: flex;
    flex-direction: column;
    gap: 8px;

    h4 {
        text-wrap-mode: nowrap;
    }
}

.edit-delete-section {
    display: flex;
    gap: 32px;
    @include transition-100;

    svg {
       width: 24px;
       height: 24px; 
    }

    a {
        color: var(--primary);
    }
}

.edit-delete-content {
    min-width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    @include transition-100;
    cursor: pointer;

    &:hover {
        a {
            color: var(--secondary);
            font-weight: 700;
        }

        svg path {
            fill: var(--secondary);
        }
    }
}

.contact-icon {
    width: 120px;
    height: 120px;
    border-radius: 70px;
    border: 3px solid var(--white);
    background-color: var(--orange);
    font-family: 'Inter';
    font-size: 47px;
    font-weight: 500;
    line-height: 56.4px;
    text-align: center;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    @include box-shadow;
}

.contact-infos {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.email-phone-section {
    display: flex;
    flex-direction: column;
    gap: 15px;

    a {
        cursor: default;
    }
}

.email-text {
    color: rgba(0, 124, 238, 1);
    cursor: pointer !important;
}