@import "../../../styles.scss";

.inside-content {
    min-width: 358px;
}

.header-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: unset;
    gap: 16px;
    text-wrap-mode: nowrap;
    @include transition-100;

    h5 {
        color: var(--primary);
    }
}

.divider {
    display: none;
    width: 3px;
    height: 59px;
    background-color: var(--secondary);
}

.divider-horz {
    display: block;
    width: 90px;
    height: 3px;
    background-color: var(--secondary);
}

.contact-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    @include transition-100;
}

.contact-title {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-title-content {
    display: flex;
    flex-direction: column;
    gap: 8px;

    h4 {
        overflow-wrap: anywhere;
    }
}

.edit-delete-section {
    display: none;
    gap: 32px;
    @include transition-100;

    svg {
        width: 24px;
        height: 24px;
    }

    a {
        color: var(--primary);
    }
}

.edit-delete-content {
    min-width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    @include transition-100;
    cursor: pointer;

    &:hover {
        a {
            color: var(--secondary);
            font-weight: 700;
        }

        svg path {
            fill: var(--secondary);
        }
    }
}

.contact-icon {
    width: 120px;
    height: 120px;
    min-width: 120px;
    min-height: 120px;
    border-radius: 70px;
    border: 3px solid var(--white);
    background-color: var(--orange);
    font-family: 'Inter';
    font-size: 47px;
    font-weight: 500;
    line-height: 56.4px;
    text-align: center;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    @include box-shadow;
}

.contact-infos {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.email-phone-section {
    display: flex;
    flex-direction: column;
    gap: 15px;

    a {
        cursor: default;
    }
}

.email-text {
    color: rgba(0, 124, 238, 1);
    cursor: pointer !important;
}

.more-contact-responsive {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 46px;
    border: 1px solid var(--primary);
    padding: 12px;
    background-color: var(--primary);
    position: fixed;
    right: 22px;
    bottom: 108px;
    cursor: pointer;

    &:hover {
        background-color: var(--secondary);
        border-color: var(--secondary);
    }

    &:active {
        background-color: var(--third);
        border-color: var(--third);
    }

    img {
        width: 32px;
        height: 32px
    }
}

.back-icon {
    display: block;
    position: fixed;
    right: 22px;
    top: 143px;

    img {
        width: 32px;
        height: 32px;
        @include transition-75;

        &:hover {
            background-color: var(--lightgray);
            border-radius: 42px;
        }

    }
}

.option-container {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 20px 20px 0px 20px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    padding: 10px;
    background-color: var(--white);
    position: fixed;
    bottom: 108px;
    right: 22px;
    @include transition-100;

    .option-edit-delete-content {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 8px;

        &:hover {
            a {
                color: var(--secondary);
            }

            svg {
                path {
                    fill: var(--secondary);
                }
            }
        }

        a {
            width: 100%;
            color: var(--primary);
        }

        svg {
            width: 100%;
            height: 100%;
        }
    }
}

@import "./contact-overview-responsive.component.scss";