<div class="inside-app">
    <header>
        <h3>Contacts</h3>
        <div class="divider"></div>
        <h5>Better with a team</h5>
    </header>
    <div class="contact-container">
        <div class="contact-title">
            <div class="contact-icon">AM</div>
            <div class="contact-title-content">
                <h4>Anton Mayer</h4>
                <div class="edit-delete-section">
                    <div class="edit-delete-content">
                        <img src="../../../assets/img/edit/hover.svg" alt="Edit">
                        <p>Edit</p>
                    </div>
                    <div class="edit-delete-content">
                        <img src="../../../assets/img/delete/default.svg" alt="Delete">
                        <p>Delete</p>
                    </div>
                </div>
            </div>
        </div>
        <p>Contact Information</p>
        <div class="contact-infos">
            <div class="email-phone-section">
                <a class="a-bold">Email</a>
                <a class="email-text" href="mailto:andonm@gmail.com">antonm&#64;gmail.com</a>
            </div>
            <div class="email-phone-section">
                <a class="a-bold">Phone</a>
                <a>+49 1111 11 11</a>
            </div>
        </div>
    </div>
</div>