<form [formGroup]="loginForm" class="main-container" (ngSubmit)="login('user')">
    <div class="form-container" [class.no-animation]="sharedService.disableAnimation$ | async">
        <div class="signup-container">
            <p>Not a Join user?</p>
            <button class="signup-btn" (click)="register()">
                <a>Sign up</a>
            </button>
        </div>
        <div class="login-container">
            <div class="header-container">
                <h1>Log in</h1>
                <div class="border"></div>
            </div>
    
            <div class="inputfield-container">
                <div class="inputfield-content">
                    <div class="input-icon-container">
                        <input formControlName="email" type="text" placeholder="Email">
                        <img class="input-icon" src="../../assets/img/login-signup/mail.svg" alt="Email">
                    </div>
                    <div class="input-icon-container">
                        <input #passwordInput formControlName="password" type="password" placeholder="Password"
                            (focus)="passwordOnFocus()" (blur)="passwordNotOnFocus()" (input)="updateIcon()">
                        <img #passwordImg class="input-icon password-icon" src="../../assets/img/login-signup/lock.svg"
                            alt="Password" (click)="togglePassword()">
                    </div>
    
    
                    <div class="errormsg" *ngIf="loginForm.invalid && submitted">Check your email and password. Please try again.</div>
                </div>
            </div>
    
            <div class="button-container">
                <button class="login-btn" type="button" [disabled]="loginForm.invalid">
                    <p class="p-bold">Log in</p>
                </button>
                <button class="guest-btn" (click)="login('guest')">
                    <p class="p-bold">Guest Log in</p>
                </button>
            </div>
        </div>
    </div>
</form>