<ng-container *ngIf="!(sharedService.siteviewer$ | async)">
    <form [formGroup]="loginForm" class="main-container" (ngSubmit)="onSubmit($event, 'user')">
        <div class="form-container"
            [ngClass]="(sharedService.disableAnimation$ | async) ? 'no-animation' : 'animation'">
            <div class="login-container">
                <div class="header-container">
                    <h1>Log in</h1>
                    <div class="border"></div>
                </div>

                <div class="inputfield-container">
                    <div class="inputfield-content">
                        <div class="input-icon-container">
                            <input formControlName="email" type="text" placeholder="Email" class="invalidInput login"
                                [class.invalidInput]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                            <img class="input-icon" src="../../assets/img/login-signup/mail.svg" alt="Email">
                            <div class="errormsg"
                                *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">Check your
                                email. Please try again.</div>
                        </div>
                        <div class="input-icon-container">
                            <input #passwordInput formControlName="password" class="login" type="password"
                                placeholder="Password" (focus)="passwordOnFocus(passwordInput, passwordImg)"
                                (blur)="passwordNotOnFocus(passwordInput, passwordImg)"
                                (input)="updateIcon(passwordInput, passwordImg)">
                            <img #passwordImg class="input-icon password-icon"
                                src="../../assets/img/login-signup/lock.svg" alt="Password"
                                (click)="togglePassword(passwordInput, passwordImg)">
                        </div>
                        <div class="errormsg" *ngIf="loginFailed">Check your email and password.
                            Please try again.</div>
                    </div>
                </div>

                <div class="button-container">
                    <button class="login-btn" type="submit" [disabled]="loginForm.invalid">
                        <p class="p-bold">Log in</p>
                    </button>
                    <button class="guest-btn" (click)="onSubmit($event, 'guest')">
                        <p class="p-bold">Guest Log in</p>
                    </button>
                </div>
            </div>
        </div>
        <div class="signup-container"
            [ngClass]="(sharedService.disableAnimation$ | async) ? 'no-animation' : 'animation'">
            <p>Not a Join user?</p>
            <button type="button" class="signup-btn" (click)="register()">
                <p>Sign up</p>
            </button>
        </div>
        <div class="legal-notice-container"
            [ngClass]="(sharedService.disableAnimation$ | async) ? 'no-animation' : 'animation'">
            <a (click)="navigateTo('privacy-policy')" class="login-legal-notice-icon">Privacy Policy</a>
            <a (click)="navigateTo('legal-notice')" class="login-legal-notice-icon">Legal Notice</a>
        </div>
    </form>
</ng-container>