<div class="panel-container">
    <div class="panel-row">
        <div class="box box1" (mouseover)="imgSrcTodo ='/assets/img/edit/hover.svg'"
            (mouseout)="imgSrcTodo ='/assets/img/edit/default.svg'" (click)="navigateToBoard()">
            <div class="icon">
                <img [src]="imgSrcTodo" alt="To-Do">
            </div>
            <div class="box-content">
                <h2>{{ this.summData?.to_do_count }}</h2>
                <p>To-do</p>
            </div>
        </div>
        <div class="box box2" (mouseover)="imgSrcDone ='/assets/img/check/hover.svg'"
            (mouseout)="imgSrcDone ='/assets/img/check/default.svg'" (click)="navigateToBoard()">
            <div class="icon">
                <img [src]="imgSrcDone" alt="To-Do">
            </div>
            <div class="box-content">
                <h2>{{ this.summData?.done_count }}</h2>
                <p>Done</p>
            </div>
        </div>
    </div>
    <div class="box box3" (mouseover)="imgSrcPrio ='/assets/img/prio/urgent-default.svg'"
        (mouseout)="imgSrcPrio ='/assets/img/prio/urgent-active.svg'" (click)="navigateToBoard()">
        <div class="urgency-container">
            <div class="icon prio-icon">
                <img [src]="imgSrcPrio" alt="Prio-Urgent">
            </div>
            <div class="box-content">
                <h2>{{ this.summData?.urgent_count }}</h2>
                <p>Urgent</p>
            </div>
        </div>
        <div class="divider"></div>
        <div class="urgency-content">
            <ng-container *ngIf="this.summData?.upcoming_deadline; else empyUpcomingField">
                <p class="p-bold">{{ this.summData?.upcoming_deadline }}</p>
                <a>Upcoming Deadline</a>
            </ng-container>
            <ng-template #empyUpcomingField>
                <p class="p-bold">No Urgent Deadlines</p>
            </ng-template>
        </div>
    </div>
    <div class="panel-row-3">
        <div class="box box4" (click)="navigateToBoard()">
            <div class="box-content">
                <h2>{{ this.summData?.tasks_count }}</h2>
                <p class="box-text">Tasks in Board</p>
            </div>
        </div>
        <div class="box box5" (click)="navigateToBoard()">
            <div class="box-content">
                <h2>{{ this.summData?.in_progress_count }}</h2>
                <p class="box-text">Tasks in Progress</p>
            </div>
        </div>
        <div class="box box6" (click)="navigateToBoard()">
            <div class="box-content">
                <h2>{{ this.summData?.await_feedback_count }}</h2>
                <p class="box-text">Awaiting Feedback</p>
            </div>
        </div>
    </div>
</div>