@use '@angular/material' as mat;
@import "../../../styles.scss";
@include mat.core();

@media (min-width: 320px) {}

@media (min-width: 375px) {}

@media (min-width: 425px) {}

@media (min-width: 768px) {}

@media (min-width: 1024px) {
    .form-layout {
        align-items: unset;
        justify-content: unset;
        gap: 96px;
    }

    .form-container {
        flex-direction: unset;
    }

    .divider {
        display: block;
    }

    .required-text {
        opacity: 1;
    }

    .field-layout {
        width: 440px;
    }

    .prio-container {
        width: 440px;
    }

    .prio-content {
        justify-content: center;
        align-items: center;
        flex-direction: unset;

        .medium {
            margin-top: unset;
        }
    }

    #low:checked+label {
        background-color: var(--prio-green);

        p {
            color: var(--white);
        }
    }

    .backlog-box {
        width: 440px;
    }

    .subtask-list {
        height: 78px;
        position: absolute;
        margin-bottom: unset;
    }

    .input-subtask {
        width: 440px;
    }

    .subtask-edit-container {
        position: relative;
        @include transition-100;
    }
}

@media (min-width: 1440px) {}

@media (min-width: 1920px) {}