@use '@angular/material' as mat;
@import "../../../styles.scss";
@include mat.core();

.form-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: unset;
    position: relative;
}

.form-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    // align-items: center;
    gap: 64px;
}

.field-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.divider {
    display: none;
    width: 0px;
    height: auto;
    border: 1px solid var(--divider-line);
}

.input-divider {
    width: 0px;
    height: 24px;
    border: 1px solid var(--input-divider);
}

.field-layout-category {
    z-index: 0;
}

textarea {
    height: 120px;
}

.category-field {
    cursor: default;
    user-select: none;

    &::placeholder {
        color: black;
    }
}

.height-auto {
    height: 100px;
}

.width-100 {
    width: 100% !important;
}

.required-text {
    opacity: 0;

    p {
        display: flex;
        align-items: flex-start;
    }
}

.submit-container {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.btn-content {
    display: flex;
    gap: 16px;
}

.clear-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    gap: 4px;
    @include transition-100;

    img {
        width: 24px;
        height: 24px;
    }

    &:hover {
        border-color: var(--secondary);

        p {
            color: var(--secondary);
        }

        .clear-img {
            content: url(../../../assets/img/clear/hover.svg);
        }
    }

    &:active {
        border-color: var(--third);

        p {
            color: var(--third);
        }

        .clear-img {
            content: url(../../../assets/img/clear/active.svg);
        }
    }
}

.select-category {
    background-color: var(--primary);

    &:hover {
        background-color: var(--third);
    }

    p {
        color: var(--white);
    }
}

@import './form-responsive.component.scss';