<form #taskForm="ngForm" class="form-layout" (ngSubmit)="onSubmit(taskForm)">
    <div class="form-container">
        <div class="field-container">
            <label class="field-layout">
                <p>Title<span>*</span></p>
                <input type="text" name="title" placeholder="Enter a title" required>
            </label>
            <label class="field-layout">
                <p>Description</p>
                <textarea type="text" name="description" placeholder="Enter a Description"></textarea>
            </label>
            <div class="field-layout">
                <p>Assigned To</p>
                <div appClickOutside
                (clickOutside)="clickoutside()">
                    <div class="select-container">
                        <input class="assigned-to-field" type="text" value="Select contacts to assign"
                            (click)="toggleAssigneTo()" id="assignedTo">
                        <img class="input-icon"
                            [src]="isAssignedTo ? 'assets/img/arrow-down-up/up.svg' : 'assets/img/arrow-down-up/down.svg'"
                            alt="arrow" (click)="toggleAssigneTo()">

                        <div [style.display]="isAssignedTo ? 'flex' : 'none'" class="backlog-box">
                            <label class="contact-container" #contactContainer
                                (mouseover)="onCheckboxChange(checkbox, contactContainer, true)"
                                (mouseout)="onCheckboxChange(checkbox, contactContainer, false)"
                                *ngFor="let user of users" (change)="selectUser(user, checkbox)">
                                <div class="contact-name">
                                    <div class="contact-icon"
                                        [ngStyle]="{'background-color': 'var(' + user.color + ')'}">{{ user.initial }}
                                    </div>
                                    <p>{{ user.name }}</p>
                                </div>
                                <div class="checkbox-container">
                                    <input type="checkbox" #checkbox
                                        (change)="onCheckboxChange(checkbox, contactContainer, true)">
                                    <span class="checkmark checkmark-font"></span>
                                </div>
                            </label>
                        </div>
                    </div>

                    <div class="assigned-container">
                        <div class="contact-icon icon-border" *ngFor="let selectUser of selectedUser"
                            [ngStyle]="{'background-color': 'var(' + selectUser.color + ')'}">{{ selectUser.initial }}
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="divider"></div>
        <div class="field-container">
            <label class="field-layout">
                <p>Due date<span>*</span></p>
                <div class="datepicker-box">
                    <span class="datepicker-btn"></span>
                    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" [formControl]="date"
                        class="datepicker-input" name="dueDate">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </div>
            </label>

            <!--  -->


            <div class="field-layout">
                <p>Prio</p>
                <div class="prio-container">
                    <input type="radio" id="urgent" name="prio" value="urgent" class="prio-radio">
                    <label for="urgent" class="prio-content">
                        <p>Urgent</p>
                        <img src="assets/img/prio/urgent-default.svg" alt="Urgent">
                    </label>
                    <input type="radio" id="medium" name="prio" value="medium" class="prio-radio">
                    <label for="medium" class="prio-content">
                        <p>Medium</p>
                        <img src="assets/img/prio/medium-default.svg" alt="Medium">
                    </label>
                    <input type="radio" id="low" name="prio" value="low" class="prio-radio">
                    <label for="low" class="prio-content">
                        <p>Low</p>
                        <img src="assets/img/prio/low-default.svg" alt="Low">
                    </label>
                </div>
            </div>

            <!--  -->




            <div class="field-layout">
                <p>Category<span>*</span></p>
                <div class="select-container" appClickOutside
                (clickOutside)="clickOutsideCategory()">
                    <input class="category-field" type="text" value="Select task category" readonly required
                        (click)="toggleCategory()">
                    <img class="input-icon"
                        [src]="isCategory ? 'assets/img/arrow-down-up/up.svg' : 'assets/img/arrow-down-up/down.svg'"
                        alt="arrow" (click)="toggleCategory()">

                    <div [style.display]="isCategory ? 'flex' : 'none'" class="backlog-box height-auto">
                        <label class="contact-container width-100" #contactContainerCategory>
                            <div class="contact-name">
                                <p>Technical Task</p>
                            </div>
                        </label>
                        <label class="contact-container width-100" #contactContainerCategory>
                            <div class="contact-name">
                                <p>User Story</p>
                            </div>
                        </label>
                    </div>
                </div>
            </div>

            <!--  -->
            <div class="field-layout field-layout-category">
                <p>Subtasks</p>
                <div class="select-container">
                    <input #subtaskInput (input)="writingSubtask(subtaskInput)" type="text"
                        placeholder="Add new subtask">
                    <div *ngIf="isSubtask" class="input-icon-container">
                        <img src="assets/img/cancel/default.svg" alt="Cancel">
                        <div class="input-divider"></div>
                        <img src="assets/img/check/default-subtask.svg" alt="Check">
                    </div>
                    <img *ngIf="!isSubtask" class="input-icon" src="assets/img/add/default-subtask.svg" alt="Add">
                </div>
                <ul class="subtask-list">
                    <li (mouseover)="setSubtaskEdit(subtaskitem0)" (mouseleave)="setSubtaskNotEdit(subtaskitem0)">
                        <a>Contact Form</a>
                        <div #subtaskitem0 class="input-icon-container">
                            <img src="assets/img/edit/hover.svg" alt="Edit">
                            <div class="input-divider"></div>
                            <img src="assets/img/delete/default.svg" alt="Delete">
                        </div>
                    </li>
                    <div class="subtask-edit-container">
                        <input type="text" value="Contact Form" class="input-subtask">
                        <div class="input-icon-container">
                            <img src="assets/img/delete/default.svg" alt="Delete">
                            <div class="input-divider"></div>
                            <img src="assets/img/check/default-subtask.svg" alt="Check">
                        </div>
                    </div>
                </ul>
            </div>
            <!--  -->
        </div>
    </div>
    <div class="submit-container">
        <div class="required-text">
            <p><span>*</span>This field is required</p>
        </div>
        <div class="btn-content">
            <button class="clear-btn" type="button" (click)="resetForm(taskForm)">
                <p>Clear</p>
                <img class="clear-img" src="assets/img/clear/default.svg" alt="Clear">
            </button>
            <button class="submit-btn" type="submit">
                <p class="p-bold">Create Task</p>
                <img src="assets/img/check/default-create-task.svg" alt="Create">
            </button>
        </div>
    </div>

</form>