<app-dashboard></app-dashboard>
<div class="popup-container" *ngIf="isPopup">
    <div class="popup-content" [ngClass]="{'add-task': isAddTask, 'card': isCard, 'contact': isEditContact || isAddContact}">
        <img class="close-icon" src="assets/img/close/default-disable.svg" alt="Close" (click)="close()">
        <app-add-task *ngIf="isAddTask"></app-add-task>
        <app-card *ngIf="isCard"></app-card>
        <app-add-contact *ngIf="isAddContact"></app-add-contact>
        <app-edit-contact *ngIf="isEditContact"></app-edit-contact>
    </div>
</div>
<div class="adding-container" *ngIf="isAdding">
    <div class="adding-content">
        <app-adding></app-adding>
    </div>
</div>


