<div class="popup-category">
    <div class="left-section">
        <div class="left-content">
            <img src="/assets/img/logo/white.svg" alt="Join Logo">
            <div class="title">
                <div>
                    <h3>Add category</h3>
                    <h5>Streamline your workflow!</h5>
                </div>
                <div class="divider"></div>
            </div>
        </div>
    </div>
    <div class="right-section">
        <div class="right-content">
            <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
                <div class="inputfield">
                    <input formControlName="name" type="text" placeholder="Category Name"
                        [class.invalidInput]="categoryForm.get('name')?.invalid && categoryForm.get('name')?.touched">
                    <p class="errormsg" *ngIf="categoryForm.get('name')?.invalid && categoryForm.get('name')?.touched">
                        Check your category name. Please try again.
                    </p>
                </div>
                <div class="btn-content">
                    <div class="btn-div">
                        <button class="cancel-btn" type="button" (click)="cancel()">
                            <p>Cancel</p>
                            <img class="clear-img" src="/assets/img/clear/default.svg" alt="Clear">
                        </button>
                        <button class="save-btn" type="submit" [disabled]="categoryForm.invalid">
                            <p class="p-bold">Create category</p>
                            <img src="/assets/img/check/default-create-task.svg" alt="Save">
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>