@import "../../styles.scss";

@media (min-width: 320px) {}

@media (min-width: 375px) {}

@media (min-width: 425px) {}

@media (min-width: 768px) {}

@media (min-width: 1024px) {
    h4 {
        font-size: 36px;
        line-height: 120%;
    }

    ul {
        li a {
            font-size: 20px;
            line-height: 24px;
        }
    }
}

@media (min-width: 1440px) {}

@media (min-width: 1920px) {}