@import "../../styles.scss";

.inside-content {
    position: relative;
}

.back-icon {
    position: absolute;
    right: 16px;
    top: 16px;

    img {
        width: 32px;
        height: 32px;
        @include transition-75;

        &:hover {
            background-color: var(--lightgray);
            border-radius: 42px;
        }
    }
}

h4,
h5 {
    font-weight: 700 !important;
}

h4 {
    font-size: 27px !important;
    line-height: 120%;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 16px;

    li a {
        font-family: 'Inter';
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: var(--secondary);
    }
}

@import "./privacy-policy-responsive.component.scss";