@import "../../styles.scss";

.inside-content {
    position: relative;
}

.help {
    align-items: flex-start;
}

h5 {
    font-weight: 700 !important;
}

.blue {
    color: var(--secondary)
}

span {
    line-height: 120%;
}

article {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
}

.back-icon {
    position: absolute;
    right: 16px;
    top: 16px;

    img {
        width: 32px;
        height: 32px;
        @include transition-75;

        &:hover {
            background-color: var(--lightgray);
            border-radius: 42px;
        }

    }
}

ol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    padding-inline-start: 0px;
    margin-bottom: 32px;
}

ol li {
    display: flex;               
    align-items: flex-start;    
    counter-increment: list-counter; 
    margin-bottom: 16px;     
}

ol li::before {
    content: counter(list-counter) ".";
    font-family: 'Inter';
    font-weight: 700;
    font-size: 27px;
    line-height: 120%;
    padding-right: 32px;       
}  

.list-item {
    line-height: 120%;
}

@import "./help-page-responsive.component.scss";
