@media (min-width: 320px) {}

@media (min-width: 375px) {}

@media (min-width: 425px) {}

@media (min-width: 768px) {
    .logo-container {
        animation: none !important;
        animation-play-state: paused;
        will-change: unset;
        background-color: unset;

        .logo {
            content: url(../../assets/img/logo.svg);
            width: 274px;
            animation: moveLogo 1s cubic-bezier(0.58, 0.81, 0.69, 0.78) forwards;
        }

        .no-animation-logo {
            width: 100.03px !important;
            height: 121.97px !important;
            top: 64px !important;
            left: 67px !important;
        }

        &.animation {
            background-color: unset;
            animation: changeBackground 1s cubic-bezier(0.58, 0.81, 0.69, 0.78) forwards;
            animation-delay: 1s;
            will-change: transform;
        }
    }
}

@media (min-width: 1024px) {}

@media (min-width: 1440px) {}

@media (min-width: 1920px) {}


@keyframes moveLogo {
    0% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    100% {
        width: 100px;
        top: 64px;
        left: 67px;
        transform: translate(0, 0);
    }
}