@media (min-width: 320px) {}

@media (min-width: 375px) {}

@media (min-width: 425px) {}

@media (min-width: 768px) {
    .logo-container {
        &.animation-logo-container {
            background-color: unset;
            animation: changeZindex 2s linear forwards;
        }

        .logo {
            width: 100px;
            height: 121px;
            top: 64px;
            left: 67px;

            &.animation-logo {
                content: url(/assets/img/logo.svg);
                width: 274px;
                animation: moveLogo 2s linear forwards;
            }
        }
    }
}

@media (min-width: 1024px) {}

@media (min-width: 1440px) {}

@media (min-width: 1920px) {}


@keyframes changeZindex {
    0% {
        z-index: 1;
    }

    99% {
        z-index: 1;
    }

    100% {
        z-index: 0;
    }
}

@keyframes moveLogo {
    0% {
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        z-index: 1;
        opacity: 1;
    }
    
    50% {
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        z-index: 1;
        opacity: 1;
    }

    100% {
        transform: translate(0%, 0%);
        width: 100px;
        top: 64px;
        left: 67px;
        z-index: 1;
    }
}