.logo-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--primary);
    animation: changeBackground 1s cubic-bezier(0.58, 0.81, 0.69, 0.78) forwards;
    animation-delay: 1s;
    will-change: transform;

    .logo {
        content: url(../../assets/img/logo/white.svg);
        width: 100px;
        position: absolute;
        z-index: 1;
        animation: moveLogoResponsive 1s cubic-bezier(0.58, 0.81, 0.69, 0.78) forwards;
        animation-delay: 1s;
        will-change: transform;
        cursor: pointer;
    }

    .no-animation-logo {
        animation-play-state: paused !important;
        animation: none !important;
        width: 64px !important;
        height: 78px !important;
        top: 36px !important;
        left: 36px !important;
    }
}

@keyframes changeBackground {
    0% {
        background-color: var(--primary);
    }

    100% {
        background-color: unset;
    }
}

@keyframes moveLogoResponsive {
    0% {
        content: url(../../assets/img/logo/white.svg);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
    }

    10% {
        content: url(../../assets/img/logo.svg);
        opacity: 0.10;
    }

    25% {
        content: url(../../assets/img/logo.svg);
        opacity: 0.25;
    }

    50% {
        content: url(../../assets/img/logo.svg);
        opacity: 0.5;
    }

    75% {
        content: url(../../assets/img/logo.svg);
        opacity: 0.75;
    }

    100% {
        content: url(../../assets/img/logo.svg);
        opacity: 1;
        width: 64px;
        top: 36px;
        left: 36px;
        transform: translate(0, 0);
    }
}

@import "./logo-responsive.component.scss";