<form [formGroup]="signupForm" class="main-container" (ngSubmit)="onSubmit()">
    <div class="login-container">
        <a (click)="back()" class="back-icon">
            <img src="../../assets/img/arrow-left/default.svg" alt="Arrow Left">
        </a>
        <div class="header-container">
            <h1>Sign up</h1>
            <div class="border"></div>
        </div>

        <div class="inputfield-container">
            <div class="inputfield-content">
                <div class="input-icon-container">
                    <input formControlName="name" type="text" placeholder="Name"
                        [class.invalidInput]="signupForm.get('name')?.invalid && signupForm.get('name')?.touched">
                    <img class="input-icon" src="../../assets/img/login-signup/person.svg" alt="Name">
                    <div class="errormsg" *ngIf="signupForm.get('name')?.invalid && signupForm.get('name')?.touched">
                        Check your name. Please try again.</div>
                </div>
                <div class="input-icon-container">
                    <input formControlName="email" type="text" placeholder="Email"
                        [class.invalidInput]="signupForm.get('email')?.invalid && signupForm.get('email')?.touched">
                    <img class="input-icon" src="../../assets/img/login-signup/mail.svg" alt="Email">
                    <div class="errormsg" *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched">
                        Check your email. Please try again.</div>
                </div>
                <div class="input-icon-container">
                    <input #passwordInput formControlName="password" type="password" placeholder="Password"
                        [class.invalidInput]="signupForm.get('password')?.invalid && signupForm.get('password')?.touched"
                        (focus)="passwordOnFocus(passwordInput, passwordImg)" (blur)="passwordNotOnFocus(passwordInput, passwordImg)" (input)="updateIcon(passwordInput, passwordImg)">
                    <img #passwordImg class="input-icon password-icon" src="../../assets/img/login-signup/lock.svg" alt="Password" (click)="togglePassword(passwordInput, passwordImg)">
                    <div class="errormsg"
                        *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">Check your
                        Password. Please try again.</div>
                </div>
                <div class="input-icon-container">
                    <input #confirmPasswordInput formControlName="confirmPassword" type="password" placeholder="Confirm Password"
                        [class.invalidInput]="signupForm.hasError('passwordMismatch') && signupForm.get('confirmPassword')?.touched"
                        (focus)="passwordOnFocus(confirmPasswordInput, confirmPasswordImg)" (blur)="passwordNotOnFocus(confirmPasswordInput, confirmPasswordImg)" (input)="updateIcon(confirmPasswordInput, confirmPasswordImg)">
                    <img #confirmPasswordImg class="input-icon password-icon" src="../../assets/img/login-signup/lock.svg" alt="Password" (click)="togglePassword(confirmPasswordInput, confirmPasswordImg)">
                    <div class="errormsg"
                        *ngIf="signupForm.hasError('passwordMismatch') && signupForm.get('confirmPassword')?.touched">
                        Your passwords don't match. Please try again.
                    </div>
                </div>
            </div>
        </div>

        <div class="privacy-container">
            <div class="checkbox-container">
                <input type="checkbox" formControlName="acceptPrivacy">
                <span class="checkmark checkmark-font"></span>
            </div>
            <span class="gray">I accept the <a class="blue" (click)="navigateToPrivacyPolicy()">Privacy
                    Policy</a></span>
            <div class="errormsg"
                *ngIf="signupForm.get('acceptPrivacy')?.touched && !signupForm.get('acceptPrivacy')?.value">
                Please read and accept the Privacy Policy to proceed.
            </div>
        </div>


        <div class="button-container">
            <button class="login-btn" [disabled]="signupForm.invalid">
                <p class="p-bold">Sign up</p>
            </button>
        </div>
    </div>
</form>