<div class="inside-app">
    <div class="headline">
        <h3>Board</h3>
        <div class="search-add-container">
            <div class="search-container">
                <div>
                    <input type="text" placeholder="Find Task" (input)="searchTask($event)">
                    <p class="errormsg" *ngIf="noTaskFound">
                        No results found
                    </p>
                </div>
                <div class="icon-content">
                    <div class="divider-line"></div>
                    <img class="search-icon" src="assets/img/search/default.svg" alt="Search">
                </div>
            </div>
            <button class="add-btn" (click)="openAddTask()">
                <p class="p-bold">Add task</p>
                <img src="assets/img/add/default.svg" alt="Add Task">
            </button>
        </div>
    </div>
    <app-distribution [searchTerm]="searchTerm" [isSearching]="isSearching"
        (noTasksFoundEvent)="noTasksFound($event)"></app-distribution>
</div>