<div class="inside-app">
    <div class="headline">
        <h3>Board</h3>
        <div class="search-add-container">
            <div class="search-container">
                <input type="text" placeholder="Find Task">
                <div class="icon-content">
                    <div class="divider-line"></div>
                    <img class="search-icon" src="assets/img/search/default.svg" alt="Search">
                </div>
            </div>
            <button class="add-btn">
                <p class="p-bold">Add task</p>
                <img src="assets/img/add/default.svg" alt="Add Task">
            </button>
        </div>
    </div>
    <app-distribution></app-distribution>
</div>