.inside-app {
    display: block !important;
}

.headline {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.headline-content {
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-add-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 32px;
}

.search-container {
    width: 100%;
    position: relative;

    input {
        width: 100%;
        padding-right: 64px;
    }
}

.icon-content {
    position: absolute;
    right: 16px;
    bottom: 10%;
}

.divider-line {
    width: 0;
    height: 31px;
    position: absolute;
    border: 1px solid var(--divider-line);
}

.search-icon {
    margin-left: 16px;
    cursor: pointer;
}

.add-btn {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 8px 16px;
    background-color: var(--primary);

    p {
        color: var(--white);
    }

    &:hover {
        background-color: var(--secondary);
        border-color: var(--secondary);
    }

    &:active {
        background-color: var(--third);
        border-color: var(--third);
    }
}

.add-btn-responsive {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    background-color: var(--primary);

    img {
        width: -webkit-fill-available;
    }

    p {
        color: var(--white);
    }

    &:hover {
        background-color: var(--secondary);
        border-color: var(--secondary);
    }

    &:active {
        background-color: var(--third);
        border-color: var(--third);
    }
}

app-distribution {
    height: 100%;
    width: 100%;
}

@import "./board-responsive.component.scss";