@import "../../styles.scss";

@media (min-width: 320px) {}

@media (min-width: 375px) {}

@media (min-width: 425px) {}

@media (min-width: 768px) {}

@media (min-width: 1024px) {
    .inside-app {
        display: flex;
    }

    .headline {
        flex-direction: unset;
        gap: unset;
    }

    .search-container {
        width: 312px;

        input {
            width: 312px;
        }
    }

    .add-btn {
        display: flex;
    }

    .add-btn-responsive {
        display: none;
    }
}

@media (min-width: 1440px) {}

@media (min-width: 1920px) {}