<div class="dashboard-container">
    <div class="sidebar">
        <img class="logo" src="assets/img/logo/white.svg" alt="Join">
        <nav class="menu-container">
            <ul class="menu-list">
                <li class="menu-item">
                    <div>
                        <img src="assets/img/menu/summary/default.svg" alt="Summary">
                        <a href="">Summary</a>
                    </div>
                </li>
                <li class="menu-item">
                    <div> 
                        <img src="assets/img/menu/add-task/default.svg" alt="Summary">
                        <a href="">Add Task</a>
                    </div>
                </li>
                <li class="menu-item">
                    <div>
                        <img src="assets/img/menu/board/default.svg" alt="Summary">
                        <a href="">Board</a>
                    </div>
                </li>
                <li class="menu-item">
                    <div>
                        <img src="assets/img/menu/contacts/default.svg" alt="Summary">
                        <a href="">Contacts</a>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="legal-item">
            <a href="">Privacy Policy</a>
            <a href="">Legal notice</a>
        </div>
    </div>
    <div class="menu"> menu</div>
</div>