@import "../../styles.scss";

@media (min-width: 320px) {}

@media (min-width: 375px) {}

@media (min-width: 425px) {}

@media (min-width: 768px) {}

@media (min-width: 1024px) {
    .dashboard-container {
        flex-direction: row;
    }

    .sidebar {
        width: 232px;
        height: 100%;
        padding: 64px 0 64px 0;
    }

    .menu {
        flex-grow: 1;
        height: 96px;
    }

    .logo {
        display: block;
        width: 100px;
    }

    .sidebar-container {
        padding-top: 64px;
    }

    .sidebar-list {
        height: unset;
        display: grid;
        justify-content: unset;
        align-items: unset;
    }

    .sidebar-item {
        width: 100%;
        border-radius: unset;

        .sidebar-item-active {
            width: 100%;
            display: flex;
            flex-direction: row;
            border-radius: unset;
        }

        div {
            width: 100%;
            flex-direction: unset;
            padding: 8px 56px;
            border-radius: unset;
        }
    }

    .menu-container {
        height: 100%;
        padding-top: unset;
        padding-right: 40px;
        padding-bottom: unset;
        padding-left: 96px;

        .kanban-text {
            display: block;
        }

        .logo-mobile {
            display: none;
        }
    }

    app-submenu {
        top: 100%;
        right: 20px;
    }

    .help-icon {
        display: block;
    }

    .profile-icon {
        width: 56px;
        height: 56px;

        a {
            font-size: unset;
        }
    }

    .legal-item {
        width: 112px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .router-container {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 0;
    }
}

@media (min-width: 1440px) {}

@media (min-width: 1920px) {}