@import "../../../styles.scss";

.select-user {
    background-color: var(--primary)!important;
    border-color: var(--primary)!important;

    p {
        color: var(--white);
    }

    &:hover {
        background-color: var(--third) !important;
        border-color: var(--third) !important;
    }
} 

.contact-list-container {
    width: 456px;
    height: 100vh;
    background-color: var(--white);
}


.list-container {
    height: 100%;
    padding-top: 96px;
    padding-bottom: unset;
}

.list-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    padding: 32px 24px;
    padding-bottom: unset;
    overflow-y: scroll;
}

.add-btn {
    width: 352px;
    border-radius: 10px;
    border: 1px solid var(--primary);
    background-color: var(--primary);
    @include transition-100;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    cursor: pointer;

    &:hover {
        background-color: var(--secondary);
        border-color: var(--secondary);
    }

    &:active {
        background-color: var(--third);
        border-color: var(--third);
    }

    .p-bold {
        color: var(--white);
    }

    img {
        width: 32px;
        height: 32px;
    }
}

.contact-list {
    width: 352px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.alphabet {
    padding: 17px 36px;
}

.divider {
    width: 100%;
    border-radius: 3px;
    border: 1px solid var(--divider-line);
}

.contact-container {
    display: flex;
    gap: 35px;
    align-items: center;
    padding: 15px 24px;
    border-radius: 10px;
    background-color: var(--white);
    border: 1px solid var(--white);
    cursor: pointer;
    @include transition-100;

    a {
        color: rgba(0, 124, 238, 1);
    }

    &:hover {
        background-color: rgba(249, 249, 249, 1);
        border-color: rgba(240, 240, 240, 1);

    }

    &:active {
        background-color: var(--primary);
        border-color: var(--primary);

        p {
            color: var(--white);
        }
    }
}

.contact-icon {
    width: 42px;
    height: 42px;
    border-radius: 100%;
    background-color: var(--orange);
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    text-align: center;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
}

.no-contacts {
    padding-top: 16px;
}