<div class="contact-list-container">
    <div class="list-container">
        <div class="list-content">
            <div class="add-btn">
                <p class="p-bold">Add new contact</p>
                <img src="../../../assets/img/person-add/default.svg" alt="Contact">
            </div>
            <div class="contact-list" *ngFor="let user of userService.users$ | async; let i = index;">
                <div class="alphabet">
                    <p>A</p>
                </div>
                <div class="divider"></div>
                <div [attr.id]="'userID' + i" class="contact-container" (click)="userService.selectUser(i)">
                    <div class="contact-icon" [ngStyle]="{'background-color': 'var(' + user.color + ')'}">{{ user.initial }}</div>
                    <div>
                        <p>{{ user.name }}</p>
                        <a>{{ user.email }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
