* {
    margin: 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 1);
    user-select: none;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

@font-face {
    font-family: 'Inter';
    src: url(assets/fonts/Inter-VariableFont_opsz\,wght.ttf);
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--background);
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 8px;
}

:root {
    --background: rgba(246, 247, 248, 1);
    --primary: rgba(42, 54, 71, 1);
    --secondary: rgba(41, 171, 226, 1);
    --third: rgba(9, 25, 49, 1);
    --hover: rgba(42, 61, 89, 1);
    --white: rgba(255, 255, 255, 1);
    --gray: rgba(205, 205, 205, 1);
    --lightgray: rgba(238, 238, 238, 1);
    --hover-btn: rgba(12, 46, 98, 0.12);
    --red: rgba(255, 0, 31, 1);
    --prio-red: rgba(255, 61, 0, 1);
    --prio-orange: rgba(255, 168, 0, 1);
    --prio-green: rgba(122, 226, 41, 1);
    --divider-line: rgba(209, 209, 209, 1);
    --required: rgba(254, 144, 157, 1);
    --hover-icon: rgba(217, 217, 217, 1);
    --input-divider: rgba(168, 168, 168, 1);
    --input-bottom-line: rgba(0, 93, 255, 1);
    --header-border: rgba(66, 82, 110, 1);
    --notask-card: rgba(231, 231, 231, 1);


    --mint: rgba(31, 215, 193, 1);
    --blue: rgba(0, 56, 255, 1);


    --orange: rgba(255, 122, 0, 1);
    --pink: rgba(255, 94, 179, 1);
    --purple: rgba(110, 82, 255, 1);
    --purple-lighten: rgba(147, 39, 255, 1);
    --turquoise: rgba(0, 190, 232, 1);
    --salmon: rgba(255, 116, 94, 1);
    --orange-lighten: rgba(255, 163, 94, 1);
    --rosa: rgba(252, 113, 255, 1);
    --yellow-orange: rgba(255, 199, 1, 1);
    --neon-yellow: rgba(195, 255, 43, 1);
    --yellow: rgba(255, 230, 43, 1);
    --red: rgba(255, 70, 70, 1);
    --orange-lighten: rgba(255, 187, 43, 1);

}

@mixin transition-75 {
    transition: all 125ms ease-in-out;
}

@mixin transition-100 {
    transition: all 100ms ease-out;
}

@mixin box-shadow {
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

@mixin box-shadow-stronger {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@mixin box-shadow-backlog {
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

@mixin card-shadow-backlog {
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.078);
}

h1 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 61px;
    line-height: 73.2px;
}

h2 {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 64px;
    line-height: 76.8px;
}

.h2-bold {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 64px;
    line-height: 76.8px;
}

h3 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 61px;
    line-height: 73.2px;
}

h4 {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 47px;
    line-height: 56.4px;
}

h5 {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 27px;
    line-height: 32.4px;
}

h6 {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 23px;
    line-height: 27.6px;
}

p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.p-bold {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 21px;
    line-height: 25.2px;
}

a {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    text-decoration: none;
    cursor: pointer;
}

.a-bold {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    line-height: 19.2px;
}

.errormsg {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 13px;
    line-height: 15.6px;
    color: rgba(255, 129, 144, 1);
    position: absolute;
    margin-top: 8px;
    top: 100%;
}

.inside-app {
    width: 100%;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    padding-left: 328px;
    padding-top: 206px;
    padding-right: 64px;
    padding-bottom: 64px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
    transition: cubic-bezier(0.41, -0.22, 1, 0.78) 1000000ms ease-in-out;
    animation-name: fadeIn;
    animation-duration: 75ms;
}

.inside-app-loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--primary);
    --_m:
        conic-gradient(#0000 10%, #000),
        linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: loading 1s infinite linear;
}

input,
textarea {
    width: 440px;
    border-radius: 10px;
    border: 1px solid var(--divider-line);
    background-color: var(--white);
    padding: 12px 21px;
    display: flex;
    gap: 8px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    outline: none;
    resize: vertical;
    @include transition-75;
    cursor: text;

    &::placeholder {
        color: var(--divider-line);
    }

    &:active {
        border-color: var(--secondary);
    }

    &:focus,
    &:focus-visible {
        border-color: var(--secondary);
    }
}

button {
    border-radius: 10px;
    border: 1px solid var(--primary);
    padding: 16px;
    position: relative;
    cursor: pointer;
    @include transition-75;

    &[disabled],
    &:disabled {
        opacity: 0.8;
        cursor: not-allowed;

        &:hover {
            background-color: var(--primary);
            border-color: var(--primary);
        }
    }
}

mat-calendar {
    background-color: var(--white) !important;
    border: 1px solid var(--white);
    border-radius: 10px;
    @include transition-75;
    @include box-shadow-backlog;
}

.mat-calendar-period-button:hover {
    background-color: var(--hover-icon);
}

.mat-calendar-body-selected {
    background-color: var(--primary) !important;
}

.mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
    border-color: var(--secondary) !important;
}

.mat-calendar-body-selected.mat-calendar-body-today {
    box-shadow: unset !important;
}

.mat-datepicker-content {
    margin-top: 8px;
}

@mixin popup {
    border-radius: 30px;
    background-color: var(--white);
    @include box-shadow;
}

@keyframes slideIn {
    from {
        transform: translateX(4000px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        filter: blur(2px);
    }

    to {
        opacity: 1;
        filter: blur(0px);
    }
}

@keyframes loading {
    to {
        transform: rotate(1turn)
    }
}